* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    border: 10px solid white;
}

.shopping {
    padding: 40px 0 120px;
    background-color: #3b3f45;
}

.header {
    background-color: #4a4f56;
    color: #eb7e7f;
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
}

.subtitle {
    font-size: 20px;
}

.shopping-list {
    list-style: none;
    background-color: #88839e;
    color: white;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    width: 650px;
}

.shopping-item {
    padding: 15px;
}

.shopping-item:nth-child(even) {
    background-color: #7a7593;
}

.shopping-text {
    display: inline;
    font-size: 18px;
    font-family: sans-serif;
}

.shopping-label {
    display: block;
}

.shopping-desc {
    color: #aebdd6;
    font-family: sans-serif;
}

.shopping-desc:before {
    content: "(";
}

.shopping-desc:after {
    content: ")";
}

.shopping-item:hover {
    background-color: #625e77;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: all .1s ease-in;
}

.shopping-item:active {
    background-color: #eb7e7f;
    transition: all .1s ease-in;
}

.button {
    display: block;
    width: 100%;
    background-color: #4a4f56;
    color: #eb7e7f;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family: sans-serif;
    border: 0;
}

.button:hover {
    opacity: .8;
}

.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #dedede;
    color: transparent;
    margin-right: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label.shopping-label {
    text-decoration: line-through;
    color: #aebdd6;
    font-family: sans-serif;
}

input[type="checkbox"]:checked+label .indicator {
    color: black;
    text-align: center;
}